<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="about-section">
                <h3>About</h3>
                <h4>High Elevation</h4>
                <h5>&copy; 2025 HIGH ELEVATION. ALL RIGHTS RESERVED.</h5>
            </div>
            <div class="location-section">
                <h3>Location</h3>
                <h4>Bukidnon</h4>
                <h2>High Elevation</h2>
            </div>
            <div class="contact-section">
                <h3>Follow Along</h3>
                <div class="socmed-container">
                    <a href=""><img src="/assets/icons/fb-icon.svg" alt=""></a>
                    <a href=""><img src="/assets/icons/ig-icon.svg" alt=""></a>
                </div>
                <h5>BECAUSE WE LOVE COFFEE</h5>
            </div>
        </div>
    </div>
</footer>