<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shopping Cart</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/pages/cart.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>
    
    <main class="main-content-container">
        <div class="container">
            <div class="cart-container">
                <div class="title-wrapper"><h1>Your Cart</h1></div>
                <form action="/cart" method="post">
                    <div class="cart-items">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-header">Product</th>
                                    <th class="quantity-header">Quantity</th>
                                    <th class="total-header">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="">
                                            <div class="product-thumbnail">
                                                <img src="assets/product-image/product_sample.png" alt="">
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="product-details">
                                            <div class="product-title"><h3>Arabica Coffee Beans</h3></div>
                                            <div class="product-price"><h4>90php</h5></div>
                                            <div class="product-weight"><h4>Weight:</h4> 1 kg</div>
                                            <div class="product-roast-lvl"><h4>Roast Level:</h4> Medium-Dark</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="quantity-wrapper">
                                            <div class="quantity-btn-container">
                                                <button class="quantity-btn" aria-label="Decrease quantity">-</button>
                                                <input type="number" value="1" aria-label="Product quantity">
                                                <button class="quantity-btn" aria-label="Increase quantity">+</button>
                                            </div>
                                            <button type="button"><img src="/assets/icons/delete.svg" alt=""></button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="total-wrapper">
                                            <div class="total-amount">90php</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="cart-footer">
                <div class="cart-content">
                    <div class="subtotal"><h3>Subtotal</h3><h2>90php</h2></div>
                    <p>Taxes and shipping calculated at checkout</p>
                    <button type="submit">Check out</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>