<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="left-nav">
                <a href="">Menu</a>
                <a href="">Product</a>
                <a href="">About us</a>
            </div>
            <div class="logo"><a href="">HIGH ELEVATION</a></div>
            <div class="right-nav">
                <div class="search-bar">
                    <input type="search" name="product_search" id="">
                </div>
                <div class="icon"><img src="assets/icons/profile.svg" alt="profile"></div>
                <div class="icon"><img src="assets/icons/cart.svg" alt="shopping-cart"></div>
            </div>
        </div>
    </nav>
    <div class="bg"></div>
    <section class="page-1">
        <div class="container">
            <h1>Start A Day With Coffee</h1>
            <h3>COFFEE REDUCES THE RISK OF HEART DISEASE</h3>
            <div class="btn">SHOP NOW</div>
        </div>
    </section>
    <section class="page-2">
        <div class="container">
            <div class="title">HIGH ELEVATION PRODUCT</div>
            <div class="card-container">
                <div class="card">
                    <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                    <div class="product-title">Product Title</div>
                    <div class="product-price">80php</div>
                    <div class="card-hover-icons">
                        <div class="icon-container">
                            <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                            <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                        </div>
                        <div class="available-size-container">100g | 500g | 1000g</div>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                    <div class="product-title">Product Title</div>
                    <div class="product-price">80php</div>
                    <div class="card-hover-icons">
                        <div class="icon-container">
                            <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                            <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                        </div>
                        <div class="available-size-container">100g | 500g | 1000g</div>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                    <div class="product-title">Product Title</div>
                    <div class="product-price">80php</div>
                    <div class="card-hover-icons">
                        <div class="icon-container">
                            <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                            <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                        </div>
                        <div class="available-size-container">100g | 500g | 1000g</div>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                    <div class="product-title">Product Title</div>
                    <div class="product-price">80php</div>
                    <div class="card-hover-icons">
                        <div class="icon-container">
                            <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                            <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                        </div>
                        <div class="available-size-container">100g | 500g | 1000g</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>