<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
    <link rel="stylesheet" href="/css/pages/index.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/components/card.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>

    <div class="bg"></div>
    <section class="hero-section">
        <div class="container">
            <div class="hero-content">
            <h1>Start A Day With Coffee</h1>
            <h3>COFFEE REDUCES THE RISK OF HEART DISEASE</h3>
            <button type="button" class="btn">SHOP NOW</button>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="about-us-container">
                <div class="about-image"><img src="assets/image/creamy-coffee.png" alt=""></div>
                <div class="about-us-content">
                    <h1>About Us</h1>
                    <div class="v-divider"></div>
                    <p>Everything we do is a matter of heart, body and soul. We strive to form profound partnerships with farmers from all over
                    the world to create perspective together and form healthy working relationships built on trust and respect.</p>
                    <button type="button" class="accent-btn">LEARN MORE</button>
                </div>
            </div>

            <div class="product-container">
                <div class="product-card-content">
                    <div class="title"><h1>HIGH ELEVATION PRODUCTS</h1></div>
                    <div class="card-container">
                        <div class="card">
                            <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                            <div class="product-title">Product Title</div>
                            <div class="product-price">80php</div>
                            <div class="card-hover-icons">
                                <div class="icon-container">
                                    <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                                    <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                                </div>
                                <div class="available-size-container">100g | 500g | 1000g</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                            <div class="product-title">Product Title</div>
                            <div class="product-price">80php</div>
                            <div class="card-hover-icons">
                                <div class="icon-container">
                                    <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                                    <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                                </div>
                                <div class="available-size-container">100g | 500g | 1000g</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                            <div class="product-title">Product Title</div>
                            <div class="product-price">80php</div>
                            <div class="card-hover-icons">
                                <div class="icon-container">
                                    <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                                    <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                                </div>
                                <div class="available-size-container">100g | 500g | 1000g</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="product-image"><img src="assets/product-image/product_sample.png" alt=""></div>
                            <div class="product-title">Product Title</div>
                            <div class="product-price">80php</div>
                            <div class="card-hover-icons">
                                <div class="icon-container">
                                    <div class="icon"><img src="assets/icons/overview.svg" alt=""></div>
                                    <div class="icon"><img src="assets/icons/addtocart.svg" alt=""></div>
                                </div>
                                <div class="available-size-container">100g | 500g | 1000g</div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-wide product">VIEW ALL PRODUCT</button>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>