<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/pages/menu.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>

    <section class="hero">
        <div class="hero-container">
            <div class="hero-content">
                <h1 class="hero-title">Our menu</h1>
                <p>Welcome to High Elevation! Here, we pride ourselves on offering a diverse selection of beverages that cater to
                every taste.</p>
            </div>
        </div>
    </section>
    <section class="menu-container">
        <div class="wrapper">
            <div class="container-title">
                <h2 class="menu-list-title">Available</h2>
            </div>
            <div class="menu-list-wrap">
                <div class="menu-split-list">
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                </div>
                <div class="menu-split-list">
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="assets/menu-image/espresso.png" alt="">
                        <div class="menu-item-info">
                            <div class="menu-title-wrap">
                                <h2 class="menu-title">Espresso</h2>
                                <div class="menu-divider"></div>
                                <div class="menu-price">79php</div>
                            </div>
                            <p>A classic, bold shot of rich espresso</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer'); %>

</body>
</html>